<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <title>My Crappy Drawings :: Buy Crappy, Stay Happy!</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
  <script src="app3.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation/5.1.1/css/foundation.min.css">
</head>
 
<body>
  <div ng-controller="ItemsCtrl">
      <ul class="large-block-grid-3">
      		<li ng-repeat="i in items"> {{i.name}} 
				    <a href="img/{{i.image}}" ><img size="200px"class="th" src="img/{{i.image}}" alt="{{i.desc}}" />
      		  </a>
          </li>
      </ul >
  </div>
</body>
</html>