<!doctype html>
<html lang="en" ng-app id="ng-app">
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	
	</head>

	<body>
		<div id="ng-app" ng-app ng-controller="PostsCtrlAjax">
			{{post.description}}			
		</div>
		
		<script>
		function PostsCtrlAjax($scope, $http)
		{
		$http({method: 'POST', url: 'js/posts.json'}).success(function(data)
		{
		$scope.posts = data; // response data 
		});
		}
		</script>
	</body>
</html>